@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
}   

.bg{
    background-image: url('img/bg.jpg') ;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    color: white;
    font-size: 16px;
}




input,button{
    font-size: 16px;
    padding: .8rem;
    border-radius: 30px;
}


input{
    width:100%;
    background-color:rgba(255,255,255,0);
    color:white;
    transition:all .3s ease-out;
}

input::placeholder{
    color:rgb(138, 138, 138);
}

input:focus{
    background-color: rgba(131, 179, 179, 0.205);
    outline:none;
}

button{
    cursor: pointer;
    margin: .5rem;
    transition: all .2s ease-out;
}

button:hover{
    color:white;
    background-color: rgb(115, 204, 142);
}

.list-container{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-left:15%;
    margin-right:15%;
    
}

.items{
    margin-left:15%;
    margin-right:15%;
    margin-top:1rem;
    border-radius: 30px;

}




  @keyframes append-animate {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}


.list-object{
    display:flex;
    align-items:center;
    justify-content:space-between;
    list-style: none;
    background-color: rgba(131, 179, 179, 0.205);
    border-radius: 40px;
    margin-bottom: .5rem;
    padding-left:.7rem;
    padding-right:.7rem;
    animation: append-animate .4s ease;
    transition: all .3s ease-out;
}

.list-object:hover{
    background-color: rgba(153, 209, 153, 0.336);
    cursor: pointer;
}

.list-item{
    padding:.5rem;
    display:flex;
    text-overflow: ellipsis;
    justify-content: center;
    width:100%;
    border-radius:30px;
    font-size:auto;

}


.del-btn{
    transition: all .2s ease-out;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 30px;
}

.del-btn:hover{
    color:white;
    background-color: rgb(218, 99, 99);
}

.del-btn:focus{
    background-color:gray;
}

hr{
    border: 1px solid white;
    margin-left:15%;
    margin-right:15%;
}