@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
}   

body{
    background-color:rgb(17, 17, 41);
    color: white;
    font-size: 16px;
}




input,button{
    font-size: 16px;
    padding: .8rem;
    border-radius: 20px;
}

input:focus{
    box-shadow: 0 0 8px  #62abe6;
    outline: none;
}

button{
    cursor: pointer;
    margin: 1rem;
    transition: all .2s ease-out;
}

button:hover{
    color:white;
    background-color: rgb(115, 204, 142);
}

input{
    width:100%;
}

.list-container{
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding-left:15%;
    padding-right:15%;
    
}

.items{
    padding-left:15%;
    padding-right:15%;
}

.list-object{
    display:flex;
    align-items:center;
    justify-content:space-between;
    list-style: none;
    margin-bottom: .5rem;
    padding-left:.5rem;
}
.list-item{
    background-color: rgba(128, 181, 202, 0.438);
    display:flex;
    text-overflow: ellipsis;
    justify-content: center;
    width:100%;
    padding: 1rem;
    border-radius:30px;
    font-size:auto;


}
.del-btn{
    transition: all .2s ease-out;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 30px;
}

.del-btn:hover{
    color:white;
    background-color: rgb(218, 99, 99);
}

.del-btn:focus{
    background-color:gray;
}